* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 735px;
    background-image: url(img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top_heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 216px;
    padding-left: 120px;
    width: 798px;
}

.top_title {
    color: #FFFF;
    font-size: 64px;
}

.top_text {
    color: #FFFF;
    font-size: 18px;
    width: 481px;
    font-weight: 300;
}

.home_button {
        background: #9C0332;
        border: #9C0332;
        box-sizing: border-box;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.3s;
}

.home_button:hover {
    background-color: #EB443F;
}

.group {
    height: 468px;
    background-image: url(img/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.group_img {
    transition: all 0.1s;
    border-radius: 16px;
}


.group_img:hover {
    border: 3px solid #44D2FF;
}

.section_group {
    padding-top: 76px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.seasons {
    height: 700px;
    background-image: url(img/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_seasons {
    width: 378px;
    display: flex;
    gap: 80px;
    padding-top: 150px;
    padding-left: 120px;
    padding-bottom: 100px;
    
}

.seasons_info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.seasons_title {
  color: #ffffff;
  font-size: 48px;
  line-height: 58px;
}

.seasons_text{
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    width: 584px
}

.seasons_button {
    background: #9C0332;
        border: #9C0332;
        box-sizing: border-box;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.3s;
}

.seasons_button:hover {
        background-color: #EB443F;
}

@media (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        background-image: url(img/Rectanglemob1.jpg);
        width: 375px;
        height: 735px;
    }

    .top_heading {
        padding-left: 0%;
        padding-top: 238px;
        width: 343px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .top_title {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .top_text {
        font-size: 14px;
        line-height: 22px;
        width: 340px;
        padding-left: 65px;
    }

    .group {
        height: 1221px;
        width: 375px;
        background-image: url(img/Rectanglemob2.jpg);
        
    }

    .group_img {
        width: 343px;
    }

    .section_group {
      flex-wrap: wrap;
      padding-top: 95px;
      
    }

    .seasons {
        width: 375px;
        height: 654px;
    }

    .section_seasons {
        padding-left: 10px;
        width: 343px;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0%;
    }

    .seasons_title {
        font-size: 32px;
        line-height: 40px;
    }

    .seasons_text {
        font-size: 14px;
        line-height: 22px;
        width: 343px;
    }

    .seasons_img {
       width: 344px;
       height: 236px;
    }
}
