* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Montserrat', sans-serif;
}

.top {
    height: 735px;
    background-image: url(img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top_heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 216px;
    padding-left: 120px;
    width: 798px;
}

.top_title {
    color: #FFFF;
    font-size: 64px;
}

.top_text {
    color: #FFFF;
    font-size: 18px;
    width: 481px;
}

.home_button {
        background: #9C0332;
        border: #9C0332;
        box-sizing: border-box;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
}

.group {
    height: 468px;
    background-image: url(img/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_group {
    padding-top: 76px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

@media (max-width: 767px) {

    

    .top {
        background-image: url(img/Rectanglemob1.jpg);
        width: 395px;
        height: 735px;
    }

    .top_heading {
        padding-left: 0%;
        padding-top: 238px;
        width: 343px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .top_title {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .top_text {
        font-size: 14px;
        line-height: 22px;
        width: 340px;
        padding-left: 65px;
    }

    .group {
        height: 1221px;
        width: 425px;
        background-image: url(img/Rectanglemob2.jpg);
        
    }

    .section_group {
      flex-wrap: wrap;
      padding-top: 95px;
      padding-right: 35px;
    }
}
